body {
    background:#fff;
}
.list .search {
    border:1px solid #e5e5e5;
    background:#f2f2f2;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    height:38px;
    line-height:40px;
    position:relative;
    margin-top:30px;
}
.list .search input {
    width:406px;
    text-indent:20px;
    font-size:16px;
    line-height:38px;
}
.list .search span {
    position:absolute;
    background:url(../images/search.png) center center no-repeat;
    width:56px;
    height:38px;
    right:0;
    top:0;
    cursor: pointer;
}
.list .record .cai {
    margin-left:40px;
}
.bottom {
    background:#ececec;
}
.table {
    margin-top:30px;
    font-size:16px;
    border:1px solid #e5e5e5;
}
.table .title {
   height:40px;
   line-height:40px;
   background:#f2f2f2;
}
.CJJ-Table {
  width:100%;
  text-align:center;
  border-collapse:collapse;
}
.CJJ-Table th {
  text-align:center;
  line-height:60px;
}
.CJJ-Table td {
  line-height:40px;
}
.CJJ-Table tfoot select {
  width:80px;
  padding-left:10px;
  height:26px;
  border:1px solid #d9d9d9;
  color:#333;
}
.CJJ-Table .tfootRight input {
  width:80px;
  padding-left:10px;
  height:25px;
  border:1px solid #d9d9d9;
  color:#333;
}
.CJJ-Table .tfootRight button {
  width:60px;
  height:25px;
  border:1px solid #999;
  color:#333;
  margin-left:10px;
  cursor:pointer;
}
.CJJ-Table tfoot span {
  padding:4px 15px 4px 15px;
  border:1px solid #d9d9d9;
  color:#333;
}
.CJJ-Table .pagenumberBox {
  float:left;
  margin-top:9px;
}
.CJJ-Table .pagenumberBox li {
  float:left;
  padding:4px 9px 4px 9px;
  border:1px solid #d9d9d9;
  margin-left:5px;
  margin-right:5px;
  cursor:pointer;
  color:#333;
}
.CJJ-Table .pagenumberBoxLi {
  background:#ff6666 !important;
  padding:5px 10px 5px 10px !important;
  color:#fff !important;
  border:none !important;
}
.table .total{
    color:#f03e3e;
}
.table .time {
    color:#999;
}
.table th {
  background:#f2f2f2;
}
.table tbody tr:nth-child(even) {
    background:#f2f2f2;
}
.table tbody tr:nth-child(odd) {
    background:#fff;
}
.table tr {
    border-bottom:1px solid #e5e5e5;
    height:60px;
    line-height:60px;
}
.table tfoot tr {
  border-bottom:none;
}
